{% extends 'animes/my_base.html' %}

{% block content %}

<div class="modal-body row">
  <div class="col-md-9">
    <!-- Your first column here -->
    <div class="row justify-content-end">
      <a href="/animes/rank_by_rating" class="col-1 px-1 mx-1 my-1">Rank By Rating</a>
      <a href="/animes/rank_by_name" class="col-1 px-1 mx-1 my-1">Rank By Name</a>
      <a href="/animes/rank_by_date" class="col-1 px-1 mx-1 my-1">Rank By Date</a>
    </div>
    <ul class="list-group list-group-flush">
      <!-- <li class="list-group-item">Cras justo odio</li>
      <li class="list-group-item">Dapibus ac facilisis in</li>
      <li class="list-group-item">Morbi leo risus</li>
      <li class="list-group-item">Porta ac consectetur ac</li>
      <li class="list-group-item">Vestibulum at eros</li> -->
      {% for animework in object_list %}
        <a href="/animes/{{ animework.anime_id }}" class="list-group-item list-group-item-action list-group-item-action"> {{ animework.anime_name }} <br>
          <span>{{ animework.anime_airing_start_date }} / {{ animework.anime_rating}} /
             {% for company in animework.productioncompany_set.all|slice:":3" %}
              {% if forloop.last %}
                {{ company.company_name }}
              {% else %}
                {{ company.company_name}};
              {% endif %}
             {% endfor %} /

             {% for tag in animework.tag_set.all|slice:":5" %}
              {% if forloop.last %}
                {{ tag.tag_name }}
              {% else %}
                {{ tag.tag_name}};
              {% endif %}
             {% endfor %}
          </span>
        </a>
      {% endfor %}
    </ul>

    <div class="pagination my-2">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
  </div>
  <div class="col-md-3 my-5">
    <h3>Tags</h3>
    <form method="get" action="/animes/search_by_tag/">
      {% for tag in tags %}
        <button type="submit" value="{{ tag.tag_name }}" name="tag_info" class="btn btn-primary btn-lg mx-1 my-1" role="button" aria-pressed="true">{{ tag.tag_name }}</button>
      {% endfor %}
    </form>
  </div>
</div>
{% endblock content %}
